{% extends "FrontendBundle::base.html.twig" %}

{% form_theme downloadForm 'CoreBundle::form_theme.html.twig' %}

{% block body %}
    <div class="row mt-xl-5">
        <div class="col-12">
            <div class="p-3 border border-light">
                <h4>Download Share</h4>
                {% if error is defined and error != null %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                {{ form_start(downloadForm) }}
                {{ form_widget(downloadForm) }}
                <button type="submit" class="btn btn-primary">Download</button>
                {{ form_end(downloadForm) }}
            </div>
        </div>
    </div>
{% endblock %}